
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateUser</h1>

<form method="post">
    <input name="Name" type="text" class="form-control"/>
    <input name="Surname" type="text" class="form-control"/>
    <input name="UserName" type="text" class="form-control" />
    <input name="Password" type="text" class="form-control" />
    <button type="submit">Kaydet</button>
</form>