@model TurnikeProje.EntityLayer.Dtos.UserInfoDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <input name="UserName" type="text" class="form-control" />
    <input name="Password" type="text" class="form-control" />
    <button type="submit">Giriş</button>
</form>


<br /><br />
@{
    if (Model != null)
    {
        <a href="/Movements/Exit/@Model.Id">Turnike Çıkış</a>
    }
    else
    {
        
    }
}


